<section>
  <h2><%= @contact.given_name() + " " + @contact.middle_name() + " " + @contact.surname() %><% if @contact.nickname != "" %> ("<%= @contact.nickname() %>")<% end %></h2>
  <% if @numbers.any?() %>
  <dl>
    <% @numbers.each() do |number| %>
    <dt><%= number.type() %></dt>
    <dd><%= number.number() %></dd>
    <% end %>
  </dl>
  <% else %>
  <p>There are no phone numbers for this contact.</p>
  <% end %>
</section>
<a href="/">View all contacts</a>
