<section>
  <form action="/" method="post">
    <fieldset>
      <legend>Add a contact to your phone book:</legend>

      <label for="given_name">Given name:</label>
      <input name="given_name" type="text" placeholder="Given name" />

      <label for="middle_name">Middle name:</label>
      <input name="middle_name" type="text" placeholder="Middle name" />

      <label for="surname">Surname:</label>
      <input name="surname" type="text" placeholder="Surname" />

      <label for="nickname">Nickname:</label>
      <input name="nickname" type="text" placeholder="Nickname" />

      <button type="submit">Add contact</button>
      <button type="reset">Clear form</button>
    </fieldset>
  </form>
</section>

<section>
  <h2>Your contacts</h2>
  <% if @contacts == [] %>
    <p>Your phone book is empty. Add a contact using the form above.</p>
  <% else %>
  <ul>
    <% @contacts.each() do |contact| %>
    <li><%= contact.given_name() %> <%= contact.middle_name() %> <%= contact.surname() %> <% if contact.nickname != "" %>("<%= contact.nickname() %>")<% end %></li>
    <% end %>
  </ul>
  <% end %>
</section>
