<section>
  <form action="/" method="post">
    <p>Add a contact to your phone book:</p>

    <label for="given_name">Given name:</label>
    <input name="given_name" type="text" placeholder="Given name" />

    <label for="middle_name">Middle name:</label>
    <input name="middle_name" type="text" placeholder="Middle name" />

    <label for="surname">Surname:</label>
    <input name="surname" type="text" placeholder="Surname" />

    <label for="nickname">Nickname:</label>
    <input name="nickname" type="text" placeholder="Nickname" />

    <button type="submit">Add contact</button>
    <button type="reset">Clear form</button>
  </form>
</section>
